.container{
    height: 500px;
    width:500px;
    margin: auto; 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    height: 200px;
    width: 200px;
    background-color:rgb(96, 31, 31);
    border: 10px solid black;
    border-radius: 20px;
}
body{ text-align: center;}
.red{
    background-color: red;
}
.green{
    background-color: green;

}


.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}

.flash{
    background-color: aliceblue;
}
.userflash{
    background-color:blue;
}

 